*{
    background-color: #4d4d62;
    color: #dfdfe2;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT',  'Trebuchet MS', sans-serif;
}

/* sidebar */
#cc-sidebar{
    background-image: linear-gradient(to right, gray, transparent);
}
.side-bar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #37373a;
    padding-top: 20px;
}

.side-bar a{
    text-decoration: none;
    /* font-size: 25px; */
    display: block;
    background-color: #37373a;

}
.side-bar a:hover {
    color: aliceblue;
    background-image: linear-gradient(to right, rgb(173, 173, 173), transparent);
}
/* set up clicked sidebar color */
.side-bar a.active {
    background-image: linear-gradient(to right, gray, transparent);
    color: rgb(255, 255, 255);
}

/* music player */
.playlist, .music-player {
    width: 500px;
    background-color: #4d4d62;
    margin-left: 180px;
    background: none;
}

#playlist-songs{
    border: 3px solid #1e1e1f;
}

#playlist-songs button:hover {
    background-color: #37373a;
}
#playlist-songs li .song-info:hover {
    background-color: #37373a;  /* Changes the background color of the entire button on hover */
}

.playlist-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

ul {
    margin: 0;
}

.player {
    display: flex;
    background-color: #34343f;
    align-items: center;
    justify-content: center;
    width: 435px;
    height: 350px;
    flex-direction: column;
}

img {
    height: 200px;
    width: 180px;
}

button{
    background: transparent;
    border: none;
    color: #34343f;
}

.display-title-artist {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

/* playlist */
#playlist-songs {
    display: flex;
    flex-direction: column;
    width: 430px;
    background-color: #34343f;
    height: 100%;
    row-gap: 3px;
    list-style-type: none;
    padding-left: 0;
}

.playlist li {
    background-color: 4d4d62;
    height: 30px;
    justify-content: center;
}

.playlist .song-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;

}

/* .playlist-song #song-info{
    justify-content: center;
    align-items: center;
    background: transparent;
} */
.song-title {
    width: 140px;
    background: transparent;
}
.song-artist {
    width: 40px;
    background: transparent;

}
.song-duration {
    padding-right: 7px;
    background: transparent;

}
.display-title-artist {
    padding: 0 10px;
    background: transparent;
}

.display-title-artist {
    padding: 0 10px;
    background: transparent;
}
#album-art {
    background: transparent;
}
/* .button {
    background: transparent;
} */

/* responsive ? */
@media (max-width: 768px) {
    .side-bar {
        width: 100px; /* Smaller width for small screens */
    }
    .content {
        margin-left: 120px; /* Adjust accordingly */
    }
}

/* aria-current */
[aria-current='true']{
    background-color: rgb(47, 46, 65);
}
[aria-current='true'] p {
    color: bisque;
}

button {
    cursor: pointer;
}
